---
title: About
descriptopm: sadfasdas asd asas sad asasd asasdas asas d
layout: base.hbs
slug: about

variationGlobal_css:  base
variationGlobal_js:   base
variation_css:        base
variation_js:         base
---

{{> header }}

<div class="p1 mxw-40 mx-auto border-left border-right border-gray">
  <h1><t>{{title}}</t></h1>
</div>

{{> footer }}
