<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="styles/base.css" />
  </head>
  <body>
    <nav><!-- nav menu --></nav>
    <section>
      <!-- content here -->
      {{page.theme}}
      {{> body}}
    </section>
  </body>
</html>
